annotations_trainval2014
coco_images
image_info_test2014
ziped
/caption_data/
/caption_datasets/
.idea
flickr8k_caption_data
flickr8k_images
BEST_checkpoint_flickr8k_5_cap_per_img_5_min_word_freq.pth.tar
checkpoint_flickr8k_5_cap_per_img_5_min_word_freq.pth.tar